In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

### Load the tips dataset.

In [23]:
# acquiring data
df = sns.load_dataset("tips")

df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

### Create a column named tip_percentage. This should be the tip amount divided by the total bill.

In [24]:
df['tip_percentage'] = df['tip'] / df['total_bill']

df.head()

   total_bill   tip     sex smoker  day    time  size  tip_percentage
0       16.99  1.01  Female     No  Sun  Dinner     2        0.059447
1       10.34  1.66    Male     No  Sun  Dinner     3        0.160542
2       21.01  3.50    Male     No  Sun  Dinner     3        0.166587
3       23.68  3.31    Male     No  Sun  Dinner     2        0.139780
4       24.59  3.61  Female     No  Sun  Dinner     4        0.146808

### Create a column named price_per_person. This should be the total bill divided by the party size.

In [25]:
df['price_per_person'] = df['total_bill'] / df['size']

df.head()

,total_bill,tip,sex,smoker,day,time,size,tip_percentage,price_per_person
0,16.99,1.01,Female,No,Sun,Dinner,2,0.059447,8.495000
1,10.34,1.66,Male,No,Sun,Dinner,3,0.160542,3.446667
2,21.01,3.50,Male,No,Sun,Dinner,3,0.166587,7.003333
3,23.68,3.31,Male,No,Sun,Dinner,2,0.139780,11.840000
4,24.59,3.61,Female,No,Sun,Dinner,4,0.146808,6.147500

### Before using any of the methods discussed in the lesson, which features do you think would be most important for predicting the tip amount? The tip percentage?

In [26]:
print('Tip percentage may be the best feature for predicting tip amount because it can be used to calculate the exact tip based on the total.')
print('Outside of tip percentage, I think size may have a strong correlation since people tend to tip more as the size of their party grows.')

Tip percentage may be the best feature for predicting tip amount because it can be used to calculate the exact tip based on the total.
Outside of tip percentage, I think size may have a strong correlation since people tend to tip more as the size of their party grows.

### Use all the other numeric features to predict tip amount. Use select k best and recursive feature elimination to select the top 2 features. What are they?

#### Using k best to find top 2 features for predicting tip amount

In [41]:
from sklearn.feature_selection import SelectKBest, f_regression

f_selector_for_tip = SelectKBest(f_regression, k=2)

x = df[['total_bill', 'size', 'tip_percentage', 'price_per_person']]
y = df[['tip']]

f_selector_for_tip.fit(x, y)

x_reduced = f_selector_for_tip.transform(x)

f_support = f_selector_for_tip.get_support()

f_feature = x.loc[:,f_support].columns.tolist()

print(str(len(f_feature)), 'k best selected features for predicting tip amount')
print(f_feature)

2 k best selected features for predicting tip amount
['total_bill', 'size']

#### Using recursive feature elimination to find top 2 features for predicting tip amount

### Use all the other numeric features to predict tip percentage. Use select k best and recursive feature elimination to select the top 2 features. What are they?

#### Using k best to find top 2 features for predicting tip_percentage

In [40]:
f_selector_for_tip_percentage = SelectKBest(f_regression, k=2)

x = df[['total_bill', 'size', 'tip', 'price_per_person']]
y = df[['tip_percentage']]

f_selector_for_tip_percentage.fit(x, y)

x_reduced = f_selector_for_tip_percentage.transform(x)

f_support = f_selector_for_tip_percentage.get_support()

f_feature = x.loc[:,f_support].columns.tolist()

print(str(len(f_feature)), 'k best selected features for predicting tip percentage')
print(f_feature)

2 k best selected features for predicting tip percentage
['total_bill', 'tip']

#### Why do you think select k best and recursive feature elimination might give different answers for the top features?

#### Does this change as you change the number of features your are selecting?

#### Write a function named select_kbest that takes in the predictors (X), the target (y), and the number of features to select (k) and returns the names of the top k selected features based on the SelectKBest class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

#### Write a function named rfe that takes in the predictors, the target, and the number of features to select. It should return the top k features based on the RFE class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

#### Load the swiss dataset and use all the other features to predict Fertility.

#### Find the top 3 features using select k best.

#### Find the top 3 features using recursive feature elimination.