## Wrangle

We will start with mall customers db

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import acquire

In [3]:
df = acquire.get_mall_data()

In [5]:
df.head()

   customer_id  gender  age  annual_income  spending_score
0            1    Male   19             15              39
1            2    Male   21             15              81
2            3  Female   20             16               6
3            4  Female   23             16              77
4            5  Female   31             17              40

In [6]:
df[df.isnull()]

     customer_id gender  age  annual_income  spending_score
0            NaN    NaN  NaN            NaN             NaN
1            NaN    NaN  NaN            NaN             NaN
2            NaN    NaN  NaN            NaN             NaN
3            NaN    NaN  NaN            NaN             NaN
4            NaN    NaN  NaN            NaN             NaN
..           ...    ...  ...            ...             ...
195          NaN    NaN  NaN            NaN             NaN
196          NaN    NaN  NaN            NaN             NaN
197          NaN    NaN  NaN            NaN             NaN
198          NaN    NaN  NaN            NaN             NaN
199          NaN    NaN  NaN            NaN             NaN

[200 rows x 5 columns]